# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider IDE
.idea/

# Publish folder
publish/

# Logs
*.log

# Packages
*.nupkg
*.snupkg

# Others
*.DS_Store
